@media (max-width:1000px) {
    .goods-item {
        width: 100%;
    }

    .goods-item-name {
        text-align: center;
    }

    .goods-item-only {
        width: 60%;
        padding: 0;
    }

    .goods-item-about {
        width: 70%;
        margin: 0 auto;
    }

    .sent-form {
        text-align: center;
        margin: 0;
        width: 100%;
        height: 100px;
        font-size: medium;
    } 

}